@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
   
}
/* navigation styles */
.nav-bar{
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
align-items: center;
}
.nav-heading{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
/* landing page styles */
.landing-page{
    display: flex;
    flex-direction: row;
}
.left-blog{
    width: 50%;
    width: 582px;
    height: 270px;
    padding: 0 60px 0 75px;
}
.landing-photo{
    width: 50%;
    padding-left: 145px;
}
.left-blog h1{
    font-weight: bold;
font-size: 52px;
line-height: 70px;
}
.left-blog p{
    font-size: 16px;
    text-align: justify;
line-height: 24px;
}
.landing-photo img{
    width: 440px;
height: 414px;
}
.button{
    background-color: #E02C6D;
    color: whitesmoke;
    border-radius: 40px;
    width: 196px;
height: 44px;
outline: 0;
border: 0;
}
.fas{
    padding-left: 10px;
}
/* product section styles */
.product-section{
    width: 1047px;
    grid-gap: 13px;
    padding-bottom: 19px;
    margin-bottom: 20px;

margin: 0 auto;
}
.section-title{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 40px;
}
.product{
    width: 329px;

height: 476px;
border-radius: 7px;
background-color: whitesmoke;
box-shadow: 0 10px 10px rgba(0,0 ,0 ,.2 );

}
 .products .product img{
    width: 300px;
height: 256px;
align-items: center;
}

.product p{
    line-height: .5;
}

/* footer styles */
footer{
    max-width: 100%;
    max-height: 500px;
    background-color: royalblue;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    align-items: center;
    margin-bottom: 20px;

}
.footer h1,h4{
    text-align: center;
}
.footer-icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px ;
}
.fab{
    margin-right: 5px;
}